---
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const films = (await getCollection('films')).sort(
	(a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf()
);
---

<!doctype html>
<html lang="fr">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.intro {
				padding-bottom: 2rem;
				border-bottom: 1px solid #ddd;
				margin-bottom: 2rem;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			li {
				width: calc(50% - 1rem);
			}
			li a {
				text-decoration: none;
				transition: 0.2s ease;
			}
			li img {
				width: 100%;
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			.title {
				margin: 0;
				font-size: 1.25rem;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			li a:hover .title,
			li a:hover .date {
				color: rgb(var(--accent));
			}
			li a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				li {
					width: 100%;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="intro">
				<h1>Bienvenue sur mon portfolio</h1>
				<p>
					Je suis un réalisateur passionné par la création de films uniques.
					Découvrez mes dernières œuvres ci-dessous.
				</p>
			</section>

			<section>
				<ul>
					{
						films.map((film) => (
							<li>
								<a href={`/films/${film.id}/`}>
									<img width={720} height={360} src={film.data.heroImage} alt="" />
									<h4 class="title">{film.data.title}</h4>
									<p class="date">
										<FormattedDate date={film.data.releaseDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
